<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cexdirect.lib">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application android:largeHeap="true">
        <activity android:name=".terms.TermsActivity"></activity>
        <activity
            android:name=".DirectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Direct" />
        <activity
            android:name=".verification.scanner.QrScannerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Direct.Scanner" />

        <provider
            android:name=".DirectAppInitProvider"
            android:authorities="${applicationId}.directinit"
            android:enabled="true"
            android:exported="false" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.directfile"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
